<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ q }} の検索結果 | なろう作者作品検索(仮)</title>
</head>
<body>

  <div>
    <h1>
      <a href="{{ url_for('search.index') }}">
        なろう作者作品検索(仮)
      </a>
    </h1>
    <form action="/search" method="get">
      <input type="text" name="q" value="{{ q }}">
      <button type="submit">search</button>
    </form>
  </div>

  <h2>{{ q }} の検索結果 ({{ count | comma }}件)</h2>
  {% for list in lists %}
    <a href="{{ url_for('writer.result', writer_id=list.userid) }}">
      
      <h2>{{ list.name }}<span>({{ list.yomikata }})</span></h2>
    </a>
    <ul>
      <li>ID: {{ list.userid }}</li>
      <li>投稿数: {{ list.novel_cnt | comma }} 作品</li>
      <li>文字数: {{ list.novel_length | comma }} 字</li>
      <li>総合評価ポイント: {{ list.sum_global_point | comma }} pt</li>
    </ul>
    <p>{{ list }}</p>
  {% endfor %}
  {# <p>{{ lists }}</p> #}
</body>
</html>