<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search Result</title>
</head>
<body>

  <div>
    <form action="/search" method="get">
      <input type="text" name="q" value="{{ q }}">
      <button type="submit">search</button>
    </form>
  </div>

  <h2>{{ q }} の検索結果 ({{ count }}件)</h2>
  {% for list in lists %}
    <a href="{{ url_for('search.writer', writer_id=list.userid) }}"
      <h2>{{ list.name }}<span>({{ list.yomikata }})</span></h2>
    </a>
    <ul>
      <li>ID: {{ list.userid}}</li>
      <li>投稿数: {{ '{:,}'.format(list.novel_cnt) }} 作品</li>
      <li>文字数: {{ '{:,}'.format(list.novel_length) }} 字</li>
      <li>総合評価ポイント: {{'{:,}'.format(list.sum_global_point) }} pt</li>
    </ul>
    <p>{{ list }}</p>
  {% endfor %}
  {# <p>{{ lists }}</p> #}
</body>
</html>