<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>作者の作品一覧</title>
</head>
<body>
  <h1>{{ lists[0].writer }} の作品の一覧</h1>
  <p>id: {{ writer_id }}</p>
  {% for list in lists %}
    <a href="https://ncode.syosetu.com/{{ list.ncode }}" target="_blank">
      <h2>{{ list.title }}</h2>
    </a>
    <p>{{ list.story }}</p>
    <p>{{ list }}</p>
  {% endfor %}

  {# <p>{{ lists }}</p> #}
</body>
</html>